<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的账户</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="../../Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/sf-mobile.css">
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>新鲜入库</b></span>
	</div>

    <div class="fresh_bd">
        <div class="ps_menu fresh_menu">
            <a class="" href="">贝类<span></span></a>
            <a class="" href="">鱼类<span></span></a>
            <a class="" href="">虾类<span></span></a>
            <a class="" href="">蟹类<span></span></a>
            <a class="" href="">龟鳖<span></span></a>
            <a class="" href="">藻类<span></span></a>
            <a class="" href="">软体类<span></span></a>
        </div>

    </div>
</body>
</html>