body{
	background: #F4F4F4;  
	height:100%;
}
/* 字色 */
.c_red{
	color:#e61d27;
}
.c_grey{
	color:#A9A9A9;
}
.c_blue{
	color:#0396e4;
}
.c_green{
	color:#49ca4c;
}
.font_14{
	font-size: 14px;
}

/*头部*/
.sf-hd{
	padding:0 10px;
	position:fixed;
	top:0;
	height:38px;
	width: 100%;
	background-color:#0396e4;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	.sf_back{
		display:inline-block;
		width:10%;
		height:38px;
		float: left;
		background: url('../images/back_arrow.png') no-repeat 0px 11px;
  		background-size: 10px 19px;

	}
	.hd_text{
		text-align:center;
		width:80%;
		float: left;
		display: inline-block;
		line-height:38px;
		color: #ffffff;
		/*product页面头部*/
		li{
			display: inline-block;
			width: 20%;
		}
		li.li_mid{
			margin:0 12px;

		}
		li .p_tab{
			border-bottom: 2px solid #ffffff;

		}
		li a{
			display: inline-block;
			height: 36px;
			width: 100%;
			color: #ffffff;
		}

	}
	.sf_opt{
		float: left;
		display: inline-block;
		width: 10%;
		line-height: 38px;
		text-align: right;
		color: #ffffff;

	}
	.sf_search{
		background: url('../images/main/search.png') no-repeat center;
  		background-size: 17px 17px;
  		height: 38px;
	}
	.sf_cart{
		background: url('../images/hd_cart.png') no-repeat center;
  		background-size: 17px 17px;
  		height: 38px;
	}
	.sf_setting{
		background: url('../images/self/setting.png') no-repeat center;
  		background-size: 20px 19px;
  		height: 38px;
	}
	.sf_chat{
		background: url('../images/self/chat.png') no-repeat center;
  		background-size: 20px 20px;
  		height: 38px;
	}
}

/* 登录注册页面 */
.lg-bd{
	margin:38px 10px 0px;
	.lg_user{
		height: 38px;
		border-bottom: 1px solid #e5e5e5;
		input{
			line-height: 38px;
			width:74%;
			padding-left: 33px;
			border:none;
			outline: medium;
		}
		.lg_username{
			background: url('../images/username.png') no-repeat 9px 11px;
			background-size: 14px 15px;
		}
		.lg_pass{
			background: url('../images/password.png') no-repeat 9px 10px;
			background-size: 13px 16px;
		}
		.lg_mobile{
			background: url('../images/mobile.png') no-repeat 9px 10px;
			background-size: 10px 17px;
		}
		.lg_verify{
			width:60%;
			background: url('../images/verify.png') no-repeat 9px 12px;
			background-size: 16px 13px;
		}
		.show_pass{
			float: right;
			display: inline-block;
			width: 10%;
			height: 38px;
			background: url('../images/eye.png') no-repeat right center;
			background-size: 25px 17px;
		}
		.lg_code{
			display: block;
			margin-top: 5px;
			line-height: 25px;
			width: 80px;
			float: right;
			color: #A9A9A9;
			text-align: center;
			border: 1px solid #A9A9A9;
			border-radius: 3px;
		}
	}
	.lg_opt{
		line-height: 38px;
		color:#A9A9A9;
		.fgt_pass{
			float: right;
			color: #A9A9A9
		}
		.lg_agree{
			color:#0396e4;
		}
		input[type="radio"] {
			display:none;
		}
		span{
			vertical-align: text-bottom;
			display: inline-block;
			cursor: pointer;
			margin-right:10px;
			height: 10px;
			width:10px;
			border: 1px solid #A9A9A9;
			border-radius: 3px;
		}
		span.checked{
			height: 12px;
			width:12px;
			border: none;
			background:url("../images/sign.png") no-repeat 0 0;
			background-size:12px 12px;
		}
	}
	.lg_btn{
		height: 40px;
		width: 100%;
		background-color:#0396e4;
		color:#ffffff;
		border-radius: 8px;
	}
}

/* 首页main.html */
.main-bd{
	margin-top: 38px;
	.menu_bottom{
		.bottom_main{
			background:url("../images/main/main_01.png") no-repeat center 8px;
			background-size:18px 18px;
		}
		.bottom_cart{
			background:url("../images/main/cart_02.png") no-repeat center 8px;
			background-size:18px 18px;
		}
	}
}
.swiper-container{
	.swiper-wrapper{
		.swiper-slide{
			img{
				 width:100%;
			} 
		}
	}
}


.main-opts{
	height:86px;
	margin-bottom: 5px;
	background: #ffffff;
	.opts{
		display:block;
		float: left;
		// line-height: 86px;
		padding-top: 63px;
		width:20%;
		text-align: center;
		color:#333333;
	}
	.opt01{
		background:#ffffff url("../images/main/s_cart.png") no-repeat center 10px;
		background-size:48px 48px;
	}
	.opt02{
		background:#ffffff url("../images/main/s_info.png") no-repeat center 10px;
		background-size:48px 48px;
	}
	.opt03{
		background:#ffffff url("../images/main/s_activity.png") no-repeat center 10px;
		background-size:48px 48px;
	}
	.opt04{
		background:#ffffff url("../images/main/s_list.png") no-repeat center 10px;
		background-size:48px 48px;
	}
	.opt05{
		background:#ffffff url("../images/main/s_cata.png") no-repeat center 10px;
		background-size:48px 48px;
	}
}
.main-limit{
	background: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 5px;
	.deal_limit{
		padding: 0 7px 0 23px;
		line-height: 27px;
		background:#ffffff url("../images/main/alarm.png") no-repeat 5px 6px;
		background-size:12px 13px;
		.time_limit{
			float: right;
		}
	}
	.deal_pic01{
		float: left;
		width: 49%;
		img{
			width:100%;
		}
	}
	.deal_pic02{
		float: right;
		width: 49%;
		img{
			width: 100%;
		}
	}
}
.fresh_title{
	line-height: 30px;
	padding:0 0px 0 8px;
	border-left: 2px solid #0396e4;
	border-bottom: 1px solid #dfdfdf;
	a{
		display: inline-block;
		padding-right: 12px;
		margin-right: 5px;
		line-height: 30px;
		width:20%;
		float: right;
		text-align: right;
		background: url("../images/main/red_arrow.png") no-repeat right ;
		background-size: 6px 11px;
	}
}
.main-fresh{
	background: #ffffff;
	margin-bottom: 5px;
	.fr_left{
		padding:10px 8px 10px 7px;
		width: 45%;
		float: left;
		border-right: 1px solid #dfdfdf;
		img{
			width: 100%;
		}
	}
	.fr_right{
		width:49%;
		float: right;
		.r_top{
			width: 100%;
			img{width:100%;}
			.top_left{
				width:30%;
				float: left;
			}
			.top_right{
				float: right;
			}
		}
		.r_bottom{
			width: 100%;
			img{
				float: left;
				width:50%;
			}
		}
	}
}
.main-banner{
	margin-bottom: 5px;
	img{
		width: 100%;
	}
}

.main-parts{
	background: #ffffff;
	.main-product{
		.main_item{
			margin:4px 0 4px 3%;
			float:left;
			display: inline-block;
			width: 21%;
			color: #000000;
			img{
				width:100%;
			}
		}
	}

}
.main-bottom{
	height: 50px;
}


/*支付成功 paysuccess.html  */
.sc_info{
	height: 187px;
	.sc_logo{
		height: 74px;
		width: 74px;
		margin: 98px auto 30px;
		background:url("../images/order/pay_success.png") no-repeat 0;
		background-size:contain;
	}
	.sc_notice{
		text-align: center;
		color: #333333;
		font-size: 14px;
		font-weight: 700;
	}
}
.sc_btn{
	display: inline-block;
	width:46%;
	line-height: 36px;
	text-align: center;
	border: 1px solid #0396e4;
	border-radius: 3px;
}
.sc_continue{
	margin-left: 3%;
	color: #0386e4;
}
.sc_detail{
	background-color: #0396e4;
	color:#ffffff;
}

/* 订单确认 orderconfirm.html */
.confirm-bd{
	margin-top: 38px;
}
.cf_titles{
	padding-left: 12px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px solid #dfdfdf;
}
.cf_address{
	height:60px;
	padding: 10px 13px 15px 35px;
	margin-bottom: 10px;
	background:#ffffff url("../images/order/map.png") no-repeat 9px;
	background-size:16px 22px;
	.cf_recv{
	font-size: 14px;
	font-weight: 700;
	}
	.cf_phone{
		float: right;
		padding-right: 20px;
	}
	.recv_address{
		margin-top: 10px;
		padding-right: 16px;
		background:url("../images/order/right_arrow.png") no-repeat right 3px;
		background-size:6px 11px;
	}
}
.cf_delivery{
	height: 18px;
	font-size: 14px;
	padding: 12px 13px 15px 10px;
	margin-bottom: 10px;
	background: #ffffff;
	.de_method{
		float:right;
		padding-right: 16px;
		color:#A9A9A9;
		background:url("../images/order/right_arrow.png") no-repeat right center;
		background-size:8px 15px;
	}
}
.cf_info{
	background: #ffffff;
	margin-bottom: 10px;
	.cf_item{
		padding:0 10px 0 12px;
		margin:18px 0;
		.cf_pic{
			width:19%;
			float: left;
			img{
				width: 100%;
			}
		}
		.cf_des{
			float: left;
			margin-left: 5px;
			width: 44%;
			.cf_name{
				margin-bottom: 12px;
			}
			.cf_size{
				color:#A9A9A9;
			}
		}
		.cf_price{
			float: right;
			width: 34%;
			text-align: right;
			.cf_num{
				margin-top: 25px;
				color:#A9A9A9;
			}
		}
	}
	.cf_total{
		padding-right: 10px;
		line-height: 45px;
		text-align: right;
		border-top: 1px solid #dfdfdf;
	}
	.cf_fees{
		line-height: 40px;
		border-top: 1px solid #dfdfdf;
		padding: 0 10px 0 12px;
		.c_prc{
			float: right;
		}

	}
	.cf_comment{
		height: 40px;
		padding: 0 10px 0 12px;
		border-top: 1px solid #dfdfdf;
		input{
			width:100%;
			height: 100%;
			border:none;
			outline: medium;
		}
	}
}
.cf_paymethod{
	background: #ffffff;
	margin-bottom: 10px;
	.pay_opts{
		padding:0 10px 0 45px;
		height: 45px;
		border-bottom: 1px solid #dfdfdf;
		font-size: 14px;
		input[type="radio"]{
			display: none;
		}
		label{
			display: inline-block;
			cursor: pointer;
			line-height: 45px;
			width: 100%;
			background:url("../images/order/red_unselect.png") no-repeat right;
			background-size:19px 19px;
		}
		label.checked{
			background:url("../images/order/red_select.png") no-repeat right;
			background-size:19px 19px;
		}
	}
	.pay_zhifubao{
		background:url("../images/order/alipay.png") no-repeat 10px 8px;
		background-size:28px 28px;
	}
	.pay_weixin{
		background:url("../images/order/wechat.png") no-repeat 10px 9px;
		background-size:28px 25px;
	}
	.pay_yinlian{
		background:url("../images/order/upcash.png") no-repeat 10px 13px;
		background-size:27px 17px;
	}
}
.cf_coupon{
	background: #ffffff;
	margin-bottom: 10px;
	.cp_form{
		height: 70px;
		padding: 10px 10px 13px 12px;
		input{
			line-height: 27px;
			border:1px solid #dfdfdf;
			border-radius: 3px;
			margin-bottom: 10px;
		}
		#cp_num{
			width:100%;
		}
		#cp_pass{
			width:56%;
		}
		.cp_btn{
			width: 41%;
			height: 27px;
			background-color: #0396e4;
			color:#ffffff;
			border-radius: 3px;
		}
	}
}
.cf_confirm{
	background: #ffffff;
	height:43px;
	.cfm_all{
		padding: 8px 0 8px 10px;
		float: left;
		.cfm_total{
			margin-bottom: 4px;
		}
	}
	.cfm_btn{
		float: right;
		width: 107px;
		height:43px;
		background-color: #0396e4;
		color:#ffffff;
		font-size: 14px;
	}
}


/* emptycart.html */
.sf-hd{
	.hd_cart{
		/* background: none; */
	}
}
.ep-bd{
	margin-top: 38px;
}
.cart_list{
	background: #ffffff;
	.cart_item{
		padding:14px 10px 15px 10px;
		border-bottom: 1px solid #dfdfdf;
		.cart_choose{
			float: left;
			width:30px;
			input[type="checkbox"]{
				display: none;
			}
			label{
				display: inline-block;
				height: 60px;
				width: 100%;
				background:url("../images/order/red_unselect.png") no-repeat 0 center;
				background-size:18px 18px;
			}
			label.checked{
				background:url("../images/order/red_select.png") no-repeat 0 center;
				background-size:18px 18px;
			}
		}
		.cart_pic{
			width:19%;
			float: left;
			img{
				width: 100%;
			}
		}
		.cart_des{
			float: left;
			margin-left: 2%;
			width: 44%;
			.ct_name{
				margin-bottom: 12px;
			}
			.ct_size{
				color:#A9A9A9;
			}
		}
		.edit_des{
			float: left;
			margin-left: 2%;
			width: 65%;
			.ct_name{
				margin-bottom: 12px;
			}
			.ed_amount{
				height: 32px;
				width: 120px;
				border: 1px solid #dfdfdf;
				.ed_minus{
					float: left;
					display:inline-block;
					width:34px;
					line-height: 32px;
					text-align: center;
					border-right: 1px solid #dfdfdf;
				}
				.ed_num{
					float: left;
					display: inline-block;
					width: 49px;
					line-height: 32px;
					text-align: center;
					border-right: 1px solid #dfdfdf;
				}
				.ed_plus{
					float: left;
					display: inline-block;
					width: 34px;
					line-height: 32px;
					text-align: center;
				}
			}
		}
		.cart_price{
			float: right;
			text-align: right;
			.origin_price{
				text-decoration: line-through;
			}
			.ct_num{
				margin-top: 15px;
				color:#A9A9A9;
			}
		}
	}
}
.ct_btm{
	height: 100px;
}
.ep_notice{
	height: 224px;
	.ep_logo{
		height:165px;
		background:url("../images/main/empty_cart.png") no-repeat 46% 41px;
		background-size:118px 95px;
	}
	.ep_cart{
		margin-bottom: 10px;
		text-align: center;
		font-size: 14px;
		font-weight: 700;
	}
	.ep_suggest{
		text-align: center;
		color:#A9A9A9;
	}
}
.btn_continue{
	width: 94%;
	height: 40px;
	margin-left:3%;
	background: #0396e4;
	color: #ffffff;
	border-radius: 3px;
}
.ep_bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #ffffff;
	.ep_total{
		width: 100%
		height: 42px;
		line-height: 42px;
		input[type="radio"]{
			display: none;
		}
		label{
			padding-left: 32px;
			display: inline-block;
			cursor: pointer;
			line-height: 42px;
			background:url("../images/order/red_unselect.png") no-repeat 10px 13px;
			background-size:18px 18px;
		}
		label.checked{
			background:url("../images/order/red_select.png") no-repeat 10px 13px;
			background-size:18px 18px;
		}
		.total_amount{
			position: absolute;
			right: 35%;
		}
		.btn_checkout{
			height: 42px;
			width: 33%;
			position: absolute;
			right: 0;
			background: #0396e4;
			color:#ffffff;

		}
		.btn_del{
			height: 42px;
			width: 33%;
			position: absolute;
			right: 0;
			background: #e61d27;
			color:#ffffff;
		}

	}
}

.menu_bottom{
	height: 45px;
	border-top: 1px solid #dfdfdf;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color:#ffffff;
	.bottom_opt{
		display: inline-block;
		width: 20%;
		height: 15px;
		float: left;
		text-align: center;
		padding-top: 30px;
	}
	.bottom_main{
		background:url("../images/main/main_02.png") no-repeat center 8px;
		background-size:18px 18px;
	}
	.bottom_cata{
		background:url("../images/main/cata_02.png") no-repeat center 8px;
		background-size:18px 18px;
	}
	.bottom_cart{
		background:url("../images/main/cart_01.png") no-repeat center 8px;
		background-size:18px 18px;
	}
	.bottom_mine{
		background:url("../images/main/mine_02.png") no-repeat center 8px;
		background-size:18px 18px;
	}
	.bottom_more{
		background:url("../images/main/more_02.png") no-repeat center 14px;
		background-size:27px 7px;
	}
}

/*product*/
.pdetail-bd{
	margin-top: 38px;
}
.product-bottom{
	height: 43px;
	width: 100%;
	position: fixed;
	bottom: 0;
	.btn_cart{
		float: left;
		height:100%;
		width:50%;
		background:  #e61d27;
		color: #ffffff;
	}
	.btn_buy{
		float: left;
		height:100%;
		width:50%;
		background: #0396e4;
		color: #ffffff;
	}
}

.pd_banner{
	img{
		width: 100%;
	}
}
.pd_detail{
	.d_title{
		height: 32px;
		padding-left: 8%;
		background: #0396e4;
		color:#ffffff;
		.d_line{
			display: inline-block;
			height: 16px;
			width: 20%;
			border-bottom: 1px solid #ffffff;
		}
		.d_text{
			display: inline-block;
			line-height: 32px;
			margin: 0 16%;
		}
	}
	.d_pic{
		img{
			width: 100%;
		}
	}
	.d_bottom{
		margin-bottom: 43px;
	}
}

/*评论页*/
.pcmt-bd{
	margin-top: 38px;
}
.cmt_overall{
	padding-left: 10px;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #dfdfdf;
	.cmt_total{
		margin-left: 6%;
	}

}
.cmt_detail{
	padding:12px 12px 15px 15px;
	border-bottom: 1px solid #dfdfdf;
	.cmt_date{
		float: right;
	}
	.cmt_text{
		margin: 12px 10px 0 0;
		line-height: 18px;
	}
	.cmt_good{
		display: inline-block;
		margin-top: 12px;
		padding-left: 12px;
		background:url("../images/good.png") no-repeat 0 1px;
		background-size:9px 11px;
	}
	.cmt_avg{
		display: inline-block;
		margin-top: 12px;
		padding-left: 12px;
		background:url("../images/avg.png") no-repeat 0 1px;
		background-size:9px 11px;
	}
	.cmt_bad{
		display: inline-block;
		margin-top: 12px;
		padding-left: 12px;
		background:url("../images/bad.png") no-repeat 0 1px;
		background-size:9px 11px;
	}
}
.cmt_bottom{
	height: 43px;
}

/*产品信息页*/
.pinfo-bd{
	padding-top: 9px;
	margin-top: 38px;
	p{
		line-height: 30px;
		margin-left: 18px;
	}
}

/* 产品详情 product.html */
.p-bd{
	margin-top: 38px;
	padding-top:9px;
	div{
		background: #ffffff;
	}
	.swiper-container{
		width: 190px;
		height: 190px;
		.swiper-wrapper{
			.swiper-slide{
				img{
					 width:100%;
				}
			}
		}
	}
}
.p-des{
	height: 80px;
	padding:10px 20px 17px 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #dfdfdf;
	.p_title{
		float: left;
		width: 85%;
		.p_tb{
			margin-bottom: 7px;
		}
	}
	.p_collect{
		float: right;
		padding-top: 21px;
		width: 14%;
		height: 12px;
		text-align: center;
		border-left: 1px solid #dfdfdf;
		background:url("../../Content/images/collect.png") no-repeat center 0px;
		background-size:15px 15px;
	}
	.p_price{
		clear: both;
		line-height: 32px;
		.p_old{
			text-decoration: line-through;
		}
	}
	.p_sold{
		.p_express{
			float: right;
		}
	}
}
.p-amount{
	height: 50px;
	padding:0 20px 0 10px;
	border-bottom: 1px solid #dfdfdf;
	.a_text{
		float: left;
		line-height: 50px;
	}
	.change_amount{
		float: right;
		margin-top: 8px;
		height: 32px;
		width: 120px;
		border: 1px solid #dfdfdf;
		.ch_minus{
			float: left;
			display:inline-block;
			width:34px;
			line-height: 32px;
			text-align: center;
			border-right: 1px solid #dfdfdf;
		}
		.ch_num{
			float: left;
			display: inline-block;
			width: 49px;
			line-height: 32px;
			text-align: center;
			border-right: 1px solid #dfdfdf;
		}
		.ch_plus{
			float: left;
			display: inline-block;
			width: 34px;
			line-height: 32px;
			text-align: center;
		}
	}
}
.p_para{
	padding: 0 10px 0 10px;
	margin-bottom: 5px;
	height: 50px;
	border-bottom: 1px solid #dfdfdf;
	a{
		display: inline-block;
		color:#000000;
		line-height: 50px;
		width: 100%;
		background:url("../images/dark_arrow.png") no-repeat right center;
		background-size:6px 11px;
	}
}
.p_like{
	line-height: 45px;
	padding-left: 10px;
}
.like-parts{
	.like-product{
		border-top: 1px solid #dfdfdf;
		.like_item{
			float:left;
			padding: 2px;
			display: inline-block;
			width: 32%;
			color: #000000;
			img{
				width:100%;
			}
			.like_old{
				text-decoration: line-through;
			}
		}
	}

}
.p_pull{
	height: 50px;
	text-align: center;
	border-top:1px solid #dfdfdf;
	span{
		padding: 0 20px;
		display: inline-block;
		line-height: 50px;
		background:url("../images/up_arrow.png") no-repeat left center;
		background-size:12px 7px;
	}
}

/*我的 personal.html */
.ps_bd{
	margin-top: 38px;
	.menu_bottom{
		.bottom_cart{
		background:url("../images/main/cart_02.png") no-repeat center 8px;
		background-size:18px 18px;
		}
		.bottom_mine{
			background:url("../images/self/mine_01.png") no-repeat center 8px;
			background-size:18px 18px;
		}
	}
}
.ps_info{
	background: #0396e4;
	.ps_head{
		/* height: 56px; */
		width: 18%;
		margin: 0 auto;
		padding: 6px 0 10px 0;
		img{
			width: 100%;
		}
	}
	.ps_name{
		padding-bottom: 10px;
		text-align: center;
		color: #ffffff;
		font-weight: 700;
	}
}
.ps_notice{
	height:52px;
	margin-bottom: 10px;
	background: #35abe9;
	.nt_a{
		display: inline-block;
		float: left;
		height: 36px;
		width: 49%;
		margin: 9px 0 7px 0;
		color: #ffffff;
		text-align: center;
	}
	.ps_balance{
		border-right: 1px solid #4eb6ec;
	}
	.nt_a span{
		display: block;
	}
}
.ps_unfinish{
	height: 65px;
	background: #ffffff;
	margin-bottom: 10px;
	a{
		display: inline-block;
		padding-top: 36px;
		float: left;
		width: 33%;
		text-align:center;
		color: #000000;
	}
	.uf_pay{
		background:url("../images/self/unpay.png") no-repeat center 13px;
		background-size:19px 16px;
	}
	.uf_recv{
		background:url("../images/self/uf_recv.png") no-repeat center 13px;
		background-size:19px 16px;
	}
	.uf_cmt{
		background:url("../images/self/uf_cmt.png") no-repeat center 13px;
		background-size:21px 17px;
	}
}
.ps_menu{
	width: 100%;
	margin-bottom: 50px;
	a{
		display: inline-block;
		width: 100%;
		line-height: 40px;
		margin-bottom:2px;
		padding: 0 10px 0 35px;
		color: #000000;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		span{
			float: right;
			padding-right: 15px;
			display: inline-block;
			height: 40px;
			/* width: 8px; */
			background:url("../images/order/right_arrow.png") no-repeat right center;
			background-size:7px 13px;
		}
	}
	.u_detail{
		padding: 0 10px 0 13px;
		width: 100%;
		background: #ffffff;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		span.head_pic{
			width: 40px;
			padding-right: 5px;
			background:url("../images/self/head.png") no-repeat center;
			background-size:34px 34px;
		}
	}
	.m_account{
		background:#ffffff url("../images/self/m_account.png") no-repeat 14px 12px;
		background-size:15px 15px;
	}
	.m_order{
		background:#ffffff url("../images/self/m_order.png") no-repeat 14px 12px;
		background-size:15px 17px;
	}
	.m_cmt{
		background:#ffffff url("../images/self/m_cmt.png") no-repeat 14px 12px;
		background-size:15px 18px;
	}
	.m_refund{
		background:#ffffff url("../images/self/m_refund.png") no-repeat 14px 12px;
		background-size:15px 15px;
	}
	.m_collect{
		background:#ffffff url("../images/self/m_collect.png") no-repeat 14px 12px;
		background-size:18px 15px;
	}
	.m_info{
		background:#ffffff url("../images/self/m_info.png") no-repeat 14px 12px;
		background-size:15px 14px;
	}
	.m_address{
		background:#ffffff url("../images/self/m_map.png") no-repeat 14px 12px;
		background-size:14px 19px;
	}
	.m_bal{
		background:#ffffff url("../images/self/bal.png") no-repeat 14px 11px;
		background-size:14px 19px;
	}
	.m_point{
		background:#ffffff url("../images/self/points.png") no-repeat 13px 11px;
		background-size:17px 18px;
	}
	.m_coupon{
		background:#ffffff url("../images/self/coupon.png") no-repeat 12px 14px;
		background-size:18px 12px;
	}
	.m_coupon{
		background:#ffffff url("../images/self/coupon.png") no-repeat 12px 14px;
		background-size:18px 12px;
	}
	.c_fresh{
		background:#ffffff url("../images/fresh.png") no-repeat 12px 14px;
		background-size:18px 13px;
	}
	.c_frozen{
		background:#ffffff url("../images/frozen.png") no-repeat 14px 12px;
		background-size:15px 15px;
	}
	.c_dry{
		background:#ffffff url("../images/dry.png") no-repeat 14px 12px;
		background-size:15px 17px;
	}
	.c_eat{
		background:#ffffff url("../images/seafood.png") no-repeat 12px 15px;
		background-size:18px 9px;
	}
	.c_gift{
		background:#ffffff url("../images/gift.png") no-repeat 13px 14px;
		background-size:15px 13px;
	}
}

/*我的订单 myorder.html */
.mo_bd{
	margin-top:38px;
}
.mo_tab{
	height: 40px;
	background: #ffffff;
	margin-bottom: 10px;
	li{
		display: inline-block;
		float: left;
		line-height: 40px;
		width: 25%;
		text-align: center;
		a{
			display: inline-block;
			height: 39px;
			width: 75%;
			color: #000000;
		}
		a.tabed{
			border-bottom: 2px solid #35abe9;
		}
	}
}
.cf_info{
	.mo_title{
		padding:0 10px 0 12px;
		height: 34px;
		line-height: 34px;
		border-bottom: 1px solid #dfdfdf;
		.title_unpay{
			float: right;
		}

	}
	.mo_total{
		padding:0 10px 0 12px;
		line-height: 45px;
		border-top: 1px solid #dfdfdf;
		.total_amount{
			float: right;
		}

	}
	.mo_item{
		margin-top:10px;
		padding-top: 15px;
	}
	.mo_comment{
		line-height: 12px;
		border-top: 1px solid #dfdfdf;
		padding: 10px 0 15px 10px;
	}
}
.mo_opts{
	height: 40px;
	border-top: 1px solid #dfdfdf;
	padding-right: 10px;
	.mo_btn{
		float: right;
		width: 45%;
		text-align: right;
		a{
			display: inline-block;
			margin-top: 8px;
			text-align: center;
		}
		.btn_view{
			line-height: 22px;
			width: 45%;
			border: 1px solid #000000;
			border-radius: 3px;
			color: #000000;
		}
		.btn_action{
			line-height: 24px;
			width: 45%;
			background: #35abe9;
			border-radius: 3px;
			color: #ffffff;
		}
	}
}

//订单详情 myorderdetail.html
.mo_detail{
	background: #ffffff;
	margin-bottom: 10px;
	p{
		padding: 15px 0 15px 8px;
		height: 15px;
		border-bottom: 1px solid #dfdfdf;
	}
}
.mo_address{
	margin-top: 10px;
}

/*我的收藏 mycollection.html */
.collect_bd{
	margin-top: 38px;
	.ep_bottom{
		display: none;
	}
	.collection_bottom{
		height: 50px;
		display: none;
	}
}
.clt_item{
	margin:10px 2% 0 2%; 
	/* padding-top: 30px; */
	float:left;
	width:46%;
	background:#ffffff;
	.clt_pic{
		img{
			width:100%;
		}
	}
	.clt_choose{
		display: none;
		input[type="checkbox"]{
			display: none;
		}
		label{
			display: inline-block;
			cursor: pointer;
			height: 30px;
			width: 100%;
			background:url("../images/order/red_unselect.png") no-repeat 0 center;
			background-size:18px 18px;
		}
		label.checked{
			background:url("../images/order/red_select.png") no-repeat 0 center;
			background-size:18px 18px;
		}
	}
}
.clt_edit{
	padding-top: 30px;
}
.clt_name{
	line-height:22px;
	a{
		color:#000000;
	}
}
.clt_price{
	margin-bottom:10px;
	.clt_old{
		text-decoration:line-through;
	}
}


/*我的余额 mybalance.html */
.bal_bd{
	margin-top: 38px;
}
.bal_banner{
	margin-bottom: 2px;
	padding-top: 18px;
	height: 80px;
	width: 100%;
	background:url("../images/self/bg.jpg") no-repeat;
	background-size:cover;
	p{
		color:#ffffff;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 15px;
	}
}
.bal_recharge{
	height: 53px;
	padding: 0 3%;
	margin-bottom: 7px;
	background: #ffffff;
	.btn_recharge{
		margin-top: 11px;
		height: 32px;
		width: 100%;
		background: #35abe9;
		border-radius: 3px;
	}
}
.bal_menu{
	height: 40px;
	margin-bottom: 10px;
	background: #ffffff;
	.bal_tabs{
		li{
			float: left;
			width: 33%;
			height: 40px;
			a{
				display: inline-block;
				line-height: 38px;
				width: 100%;
				text-align: center;
				color: #000000;
			}
			a.tabed{
				border-bottom: 2px solid #35abe9;
			}
		}
	}
}
.bal_list{
	padding:6px 10px 8px 10px;
	margin-bottom:10px;
	background: #ffffff;
	.list_pic{
		width:12%;
		float: left;
		img{
			width: 100%;
		}
	}
	.list_des{
		float: left;
		margin-left: 5px;
		width: 53%;
		.des_name{
			margin-bottom: 8px;
		}
	}
	.list_cost{
		float: right;
		text-align: right;
		span{
			display: inline-block;
			padding: 20% 0;
		}
	}
}

/* 申请退款 refundapply.html */
.refund_bd{
	margin-top: 38px;
}
.rf_menu{
	background: #ffffff;
	div{
		line-height: 42px;
		padding:0 8px 0 11px;
		border-bottom: 1px solid #dfdfdf;
	}
	.rf_choose{
		padding: 0 0 0 6px;
		.rf_select{
			width: 98%;
			height: 42px;
			border:none;
			text-align: left;
		}
	}
	.rf_odnum{
		line-height: 42px;
		width:100%;
		border:none;
		outline: medium;
	}
	.rf_product{
		a{
			display: inline-block;
			width: 100%;
			background:url("../images/order/right_arrow.png") no-repeat right center;
			background-size:6px 11px;
		}
	}
	.rf_detail{
			padding: 15px 8px 10px 8px;
		.detail_text{
			height: 90px;
			width: 95%;
			border:none;
			outline: medium;
		}
	}
	.rf_upload{
		padding-bottom:23px;
		.upload-img {
			display:block;
			width: 50px;
			height:50px;
			overflow:hidden;
			position:relative;
			background:url("../images/self/upload.png") no-repeat 0;
			background-size:contain;
			input{
				height:50px;
				opacity:0;
				filter:alpha(opacity=0);
				position:absolute;
				top:0;
				right:0;
			}
		}
	}
}

/* 我的积分 mypoint.html */
.point_bd{
	margin-top: 38px;
}
.bal_points{
	margin-bottom: 10px;
	padding: 22px 0 23px 13px;
	height: 15px;
	font-size: 14px;
	font-weight: 700;
	background: #ffffff;
}
.pt_list{
	margin-bottom:10px;
	padding: 0 12px;
	height: 48px;
	background: #ffffff;
	.pt_name{
		float: left;
		line-height: 48px;
	}
	.pt_cost{
		float: right;
		text-align: right;
		padding: 8px 0 12px 0;
	}
}

/*我的优惠券 mycoupon.html */
.cp_bd{
	margin-top: 38px;
}
.cp_menu{
	height: 40px;
	margin-bottom: 10px;
	background: #ffffff;
	.cp_tabs{
		li{
			float: left;
			width: 25%;
			height: 40px;
			a{
				display: inline-block;
				line-height: 38px;
				width: 100%;
				text-align: center;
				color: #000000;
			}
			a.tabed{
				border-bottom: 2px solid #35abe9;
			}
		}
	}
}
.cp_coupon{
	margin: 0 10px 8px 10px;
	background: #ffffff;
	width: 93%;
	position: relative;
	border-radius: 3px;
	img{
		width: 100%;
	}
	.cp_text{
		position: absolute;
		margin-left: 15px;
		top:15%;
		height: 40px;
		color: #ffffff;
		.cp_mark{
			font-size: 18px;
		}
		.cp_value{
			font-size:40px;
		}
		.cp_notice{
			margin-left: 70px;
			display: inline-block;
			text-align: right;
			line-height: 40px;
			vertical-align: text-bottom;

		}
	}
	.cp_time{
		padding: 10px 8px 10px 9px;
		.cp_status{
			float: right;
		}
	}

}

/*管理收货地址 address.html */
.add-bd{
	margin-top: 38px;
}
.add_address{
	background: #ffffff;
	padding: 10px 13px 15px 10px;
	margin-bottom: 10px;
}

/*新增收货地址 newaddress.html */
.na-bd{
	margin-top: 38px;
	.na_all{
		height: 42px;
		padding:0 10px;
		margin-bottom: 2px;
		background: #ffffff;
		input{
			width: 100%;
			line-height: 42px;
			border:none;
			outline: medium;
		}
		input[type="radio"]{
			display: none;
		}
		label{
			display: inline-block;
			line-height: 42px;
			width: 100%;
			background:url("../images/order/red_unselect.png") no-repeat right;
			background-size:19px 19px;
		}
		label.checked{
			background:url("../images/order/red_select.png") no-repeat right;
			background-size:19px 19px;
		}
	}
}

/*分类 catagory.html */
.cata_bd{
	margin-top: 38px;
}

.fresh_bd{
	.fresh_menu{
		a{
			padding:0 10px 0 10px;
			background: #ffffff;
		}
	}
}

/* 我的信息 message.html */
.msg_bd{
	margin-top: 38px;
	.msg_list{
		height: 30px;
		margin-bottom: 10px;
		padding: 10px 10px 10px 50px;
		background: #ffffff url("../images/self/msg.png") no-repeat 10px center;
		background-size: 30px 30px;
		.msg_title{
			margin-bottom: 5px;
			.msg_date{
				float:right;
			}
		}
	}
}
.mdetail_bd{
	margin-top: 38px;
	background: #ffffff;
	.md_hd{
		height: 65px;
		padding: 12px 20px 12px 10px;
		border-bottom: 1px solid #dfdfdf;
		.md_title{
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 13px;
		}
	}
	.md_content{
		line-height: 22px;
		padding: 10px 15px 0 10px;
	}
}