<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的账户</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="../../Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/sf-mobile.css">
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>我的信息</b></span>
		<a class="sf_opt sf_edit" href="">完成</a>
	</div>

    <div class="mdetail_bd">
		<div class="md_hd">
			<p class="md_title">优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送</p>
			<p class="c_grey">日期：2015-07-01</p>
		</div>
		<p class="md_content">
		 优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送优惠推荐7月周年庆，1哥请你来轰趴，0元商品免费送
		</p>
    </div>
</body>
</html>