<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的余额</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="../../Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/sf-mobile.css">
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>我的余额</b></span>
	</div>
    
    <div class="bal_bd">
        <div class="bal_banner">
            <p>我的余额</p>
            <p>¥ 123166.45</p>
        </div>

        <div class="bal_recharge">
            <button class="btn_recharge">充值</button>
        </div>

        <div class="bal_menu">
            <ul class="bal_tabs">
                <li><a class="bal_all tabed" href="">全部</a></li>
                <li><a class="bal_in" href="">存入</a></li>
                <li><a class="bal_out" href="">支出</a></li>
            </ul>
        </div>

        <div class="bal_list clearfix">
            <div class="list_pic">
                <img src="../../Content/images/self/prawn.jpg">
            </div>
            <div class="list_des">
                <p class="des_name">阿根廷红虾L1大号4斤 海捕大虾</p>
                <p class="c_grey">2015-07-01 12:53:54</p>
            </div>
            <div class="list_cost">
                <span class="c_green">- ¥ 398.00</span>
            </div>
        </div>

        <div class="bal_list clearfix">
            <div class="list_pic">
                <img src="../../Content/images/self/recharge.jpg">
            </div>
            <div class="list_des">
                <p class="des_name">账户充值</p>
                <p class="c_grey">2015-07-01 12:53:54</p>
            </div>
            <div class="list_cost">
                <span class="c_red">- ¥ 398.00</span>
            </div>
        </div>

        <div class="bal_list clearfix">
            <div class="list_pic">
                <img src="../../Content/images/self/prawn.jpg">
            </div>
            <div class="list_des">
                <p class="des_name">阿根廷红虾L1大号4斤 海捕大虾</p>
                <p class="c_grey">2015-07-01 12:53:54</p>
            </div>
            <div class="list_cost">
                <span class="c_green">- ¥ 398.00</span>
            </div>
        </div>

        <div class="bal_list clearfix">
            <div class="list_pic">
                <img src="../../Content/images/self/recharge.jpg">
            </div>
            <div class="list_des">
                <p class="des_name">账户充值</p>
                <p class="c_grey">2015-07-01 12:53:54</p>
            </div>
            <div class="list_cost">
                <span class="c_red">- ¥ 398.00</span>
            </div>
        </div>
    </div>
</body>
</html>