<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的余额</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="/Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/sf-mobile.css">
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>我的余额</b></span>
	</div>
    
    <div class="cp_bd">
        <div class="bal_points">
            <span>我的优惠卷：</span>
            <span class="c_red">12张</span>
        </div>

        <div class="cp_menu">
            <ul class="cp_tabs">
                <li><a class="cp_all tabed" href="">全部</a></li>
                <li><a class="cp_unuse" href="">未使用</a></li>
                <li><a class="cp_used" href="">已使用</a></li>
                <li><a class="cp_expired" href="">已过期</a></li>
            </ul>
        </div>

        <div class="cp_coupon">
            <img src="/Content/images/self/coupon_bg.png">
            <div class="cp_text">
                <span class="cp_mark">¥ </span><span class="cp_value">10</span>
                <span class="cp_notice">抵用10元最低消费100元</span>
            </div>
            <div class="cp_time">
                <span>有效期至：2015-11-06</span>
                <span class="c_grey cp_status">未使用</span>
            </div>
        </div>

        <div class="cp_coupon">
            <img src="/Content/images/self/coupon_bg.png">
            <div class="cp_text">
                <span class="cp_mark">¥ </span><span class="cp_value">10</span>
                <span class="cp_notice">抵用10元最低消费100元</span>
            </div>
            <div class="cp_time">
                <span>有效期至：2015-11-06</span>
                <span class="c_grey cp_status">未使用</span>
            </div>
        </div>

        <div class="cp_coupon">
            <img src="/Content/images/self/coupon_bg.png">
            <div class="cp_text">
                <span class="cp_mark">¥ </span><span class="cp_value">10</span>
                <span class="cp_notice">抵用10元最低消费100元</span>
            </div>
            <div class="cp_time">
                <span>有效期至：2015-11-06</span>
                <span class="c_grey cp_status">未使用</span>
            </div>
        </div>
    </div>
</body>
</html>