<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的余额</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="/Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/sf-mobile.css">
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>我的积分</b></span>
	</div>
    
    <div class="ponit_bd">
        <div class="bal_points">
            <span>我的积分：</span>
            <span class="c_red">123166</span>
        </div>


        <div class="bal_menu">
            <ul class="bal_tabs">
                <li><a class="bal_all tabed" href="">全部</a></li>
                <li><a class="bal_in" href="">存入</a></li>
                <li><a class="bal_out" href="">支出</a></li>
            </ul>
        </div>

        <div class="pt_list">
        	<span class="pt_name">秒杀消费专区</span>
        	<div class="pt_cost">
        		<p class="c_green font_14">- 398</p>
        		<p class="c_grey">2015-07-01</p>
        	</div>
        </div>

        <div class="pt_list">
        	<span class="pt_name">购物积分</span>
        	<div class="pt_cost">
        		<p class="c_red font_14">+ 3980</p>
        		<p class="c_grey">2015-07-01</p>
        	</div>
        </div>

       <div class="pt_list">
        	<span class="pt_name">秒杀消费专区</span>
        	<div class="pt_cost">
        		<p class="c_green font_14">- 398</p>
        		<p class="c_grey">2015-07-01</p>
        	</div>
        </div>

        <div class="pt_list">
        	<span class="pt_name">购物积分</span>
        	<div class="pt_cost">
        		<p class="c_red font_14">+ 3980</p>
        		<p class="c_grey">2015-07-01</p>
        	</div>
        </div>
        
		<div class="pt_list">
			<span class="pt_name">秒杀消费专区</span>
			<div class="pt_cost">
				<p class="c_green font_14">- 398</p>
				<p class="c_grey">2015-07-01</p>
			</div>
		</div>
    </div>
</body>
</html>