<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>个人中心</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="/Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/sf-mobile.css">
    <script type="text/javascript" src="/Scripts/jquery-1.9.1/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>我的</b></span>
        <a class="sf_opt sf_setting" href=""></a>
	</div>

    <div class="ps_bd">
        <div class="ps_info">
            <div class="ps_head">
                <img src="/Content/images/self/head.png">
            </div>
            <p class="ps_name">Love JULIUS</p>
        </div>

        <div class="ps_notice clearfix">
            <a class="ps_balance nt_a" href="">
                <span class="bal_amount">300.00</span>
                <span>账户余额</span>
            </a>
            <a class="ps_msg nt_a" href="">
                <span class="msg_amount">22</span>
                <span>短消息</span>
            </a>
        </div>

        <div class="ps_unfinish">
            <a class="uf_pay" href="">待付款</a>
            <a class="uf_recv" href="">待收货</a>
            <a class="uf_cmt" href="">待评价</a>
        </div>

        <div class="ps_menu">
            <a class="m_account" href="">我的账户<span></span></a>
            <a class="m_order" href="">我的订单<span></span></a>
            <a class="m_cmt" href="">商品评价<span></span></a>
            <a class="m_refund" href="">退款申请<span></span></a>
            <a class="m_collect" href="">我的收藏<span></span></a>
            <a class="m_info" href="">个人信息<span></span></a>
            <a class="m_address" href="">地址管理<span></span></a>
        </div>

        <div class="menu_bottom clearfix">
            <a class="bottom_opt bottom_main c_grey" href="">首页</a>
            <a class="bottom_opt bottom_cata c_grey" href="">分类</a>
            <a class="bottom_opt bottom_cart c_grey" href="">购物车</a>
            <a class="bottom_opt bottom_mine c_grey" href="">我的</a>
            <a class="bottom_opt bottom_more c_grey" href="">更多</a>
        </div>
    </div>
</body>
</html>