<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的账户</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minmum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /> 
    <link rel="stylesheet" type="text/css" href="../../Content/css/css-reset.css">
    <link rel="stylesheet" type="text/css" href="../../Content/css/sf-mobile.css">
</head>
<body>
	<div class="sf-hd clearfix">
		<a class="sf_back" href="#"></a>
		<span class="hd_text"><b>我的账户</b></span>
        <a class="sf_opt" href="">保存</a>
	</div>

    <div class="mo_bd">
        <div class="ps_menu">
            <a class="m_head u_detail" href="">头像<span><span class="head_pic"></span></span></a>
            <a class="m_name u_detail" href="">姓名<span class="c_grey">猪小妞</span></a>
            <a class="m_sex u_detail" href="">性别<span class="c_grey">女</span></a>
            <a class="m_birth u_detail" href="" >生日<span class="c_grey">1990-01-01</span></a>
            <a class="m_place u_detail" href="">详细地址<span class="c_grey">海虞镇周兴旺桥村通港路智周路</span></a>
            <a class="m_zip u_detail" href="">邮编<span class="c_grey">215000</span></a>
            <a class="m_mobile u_detail" href="">手机号<span class="c_grey">12312312323</span></a>
        </div>

    </div>
</body>
</html>