body {
  background: #F4F4F4;
}
/* 字色 */
.c_red {
  color: #e61d27;
}
.c_grey {
  color: #A9A9A9;
}
.c_blue {
  color: #0396e4;
}
/*头部*/
.sf-hd {
  padding: 0 10px;
  position: relative;
  height: 38px;
  background-color: #0396e4;
}
.sf-hd .sf_back {
  display: inline-block;
  width: 10%;
  height: 38px;
  float: left;
  background: url('/Content/images/back_arrow.png') no-repeat 0px 11px;
  background-size: 10px 19px;
}
.sf-hd .hd_text {
  text-align: center;
  width: 80%;
  float: left;
  display: inline-block;
  line-height: 38px;
  color: #ffffff;
  /*product页面头部*/
}
.sf-hd .hd_text li {
  display: inline-block;
  width: 20%;
}
.sf-hd .hd_text li.li_mid {
  margin: 0 12px;
}
.sf-hd .hd_text li .p_tab {
  border-bottom: 2px solid #ffffff;
}
.sf-hd .hd_text li a {
  display: inline-block;
  height: 36px;
  width: 100%;
  color: #ffffff;
}
.sf-hd .sf_opt {
  float: left;
  display: inline-block;
  width: 10%;
  line-height: 38px;
  text-align: right;
  color: #ffffff;
}
.sf-hd .sf_search {
  background: url('/Content/images/main/search.png') no-repeat center;
  background-size: 17px 17px;
  height: 38px;
}
.sf-hd .sf_cart {
  background: url('/Content/images/hd_cart.png') no-repeat center;
  background-size: 17px 17px;
  height: 38px;
}
/* 登录注册页面 */
.lg-bd {
  margin: 0 10px;
}
.lg-bd .lg_user {
  height: 38px;
  border-bottom: 1px solid #e5e5e5;
}
.lg-bd .lg_user input {
  line-height: 38px;
  padding-left: 33px;
  border: none;
  outline: medium;
}
.lg-bd .lg_user .lg_username {
  background: url('/Content/images/username.png') no-repeat 9px 11px;
  background-size: 14px 15px;
}
.lg-bd .lg_user .lg_pass {
  background: url('/Content/images/password.png') no-repeat 9px 10px;
  background-size: 13px 16px;
}
.lg-bd .lg_user .lg_mobile {
  background: url('/Content/images/mobile.png') no-repeat 9px 10px;
  background-size: 10px 17px;
}
.lg-bd .lg_user .lg_verify {
  background: url('/Content/images/verify.png') no-repeat 9px 12px;
  background-size: 16px 13px;
}
.lg-bd .lg_user .show_pass {
  float: right;
  display: inline-block;
  width: 30px;
  height: 38px;
  background: url('/Content/images/eye.png') no-repeat center;
  background-size: 25px 17px;
}
.lg-bd .lg_user .lg_code {
  display: block;
  margin-top: 5px;
  line-height: 25px;
  width: 80px;
  float: right;
  color: #A9A9A9;
  text-align: center;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
}
.lg-bd .lg_opt {
  line-height: 38px;
  color: #A9A9A9;
}
.lg-bd .lg_opt .fgt_pass {
  float: right;
  color: #A9A9A9;
}
.lg-bd .lg_opt .lg_agree {
  color: #0396e4;
}
.lg-bd .lg_opt input[type="radio"] {
  display: none;
}
.lg-bd .lg_opt span {
  vertical-align: text-bottom;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
}
.lg-bd .lg_opt span.checked {
  height: 12px;
  width: 12px;
  border: none;
  background: url("/Content/images/sign.png") no-repeat 0 0;
  background-size: 12px 12px;
}
.lg-bd .lg_btn {
  height: 40px;
  width: 100%;
  background-color: #0396e4;
  color: #ffffff;
  border-radius: 8px;
}
/* 首页main.html */
.main-bd {
  background: #ffffff;
}
.main-slider {
  /* display: none; */
  width: 100%;
  height: 130px;
  margin-bottom: 5px;
  overflow: hidden;
}
.main-opts {
  height: 86px;
  margin-bottom: 5px;
}
.main-opts .opts {
  display: block;
  float: left;
  padding-top: 63px;
  width: 20%;
  text-align: center;
  color: #333333;
}
.main-opts .opt01 {
  background: url("/Content/images/main/s_cart.png") no-repeat 10px 10px;
  background-size: contain;
}
/*支付成功 paysuccess.html  */
.sc_info {
  height: 187px;
}
.sc_info .sc_logo {
  height: 74px;
  width: 74px;
  margin: 58px auto 30px;
  background: url("/Content/images/order/pay_success.png") no-repeat 0;
  background-size: contain;
}
.sc_info .sc_notice {
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
}
.sc_btn {
  display: inline-block;
  width: 46%;
  line-height: 36px;
  text-align: center;
  border: 1px solid #0396e4;
  border-radius: 3px;
}
.sc_continue {
  margin-left: 3%;
  color: #0386e4;
}
.sc_detail {
  background-color: #0396e4;
  color: #ffffff;
}
/* 订单确认 orderconfirm.html */
.cf_titles {
  padding-left: 12px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #dfdfdf;
}
.cf_address {
  height: 60px;
  padding: 10px 13px 15px 35px;
  margin-bottom: 10px;
  background: #ffffff url("/Content/images/order/map.png") no-repeat 9px;
  background-size: 16px 22px;
}
.cf_address .cf_recv {
  font-size: 14px;
  font-weight: 700;
}
.cf_address .cf_phone {
  float: right;
  padding-right: 20px;
}
.cf_address .recv_address {
  margin-top: 10px;
  padding-right: 16px;
  background: url("/Content/images/order/right_arrow.png") no-repeat right 3px;
  background-size: 6px 11px;
}
.cf_delivery {
  height: 18px;
  font-size: 14px;
  padding: 12px 13px 15px 10px;
  margin-bottom: 10px;
  background: #ffffff;
}
.cf_delivery .de_method {
  float: right;
  padding-right: 16px;
  color: #A9A9A9;
  background: url("/Content/images/order/right_arrow.png") no-repeat right center;
  background-size: 8px 15px;
}
.cf_info {
  background: #ffffff;
  margin-bottom: 10px;
}
.cf_info .cf_item {
  padding: 0 10px 0 12px;
  margin: 18px 0;
}
.cf_info .cf_item .cf_pic {
  width: 19%;
  float: left;
}
.cf_info .cf_item .cf_pic img {
  width: 100%;
}
.cf_info .cf_item .cf_des {
  float: left;
  margin-left: 5px;
  width: 44%;
}
.cf_info .cf_item .cf_des .cf_name {
  margin-bottom: 12px;
}
.cf_info .cf_item .cf_des .cf_size {
  color: #A9A9A9;
}
.cf_info .cf_item .cf_price {
  float: right;
  width: 34%;
  text-align: right;
}
.cf_info .cf_item .cf_price .cf_num {
  margin-top: 25px;
  color: #A9A9A9;
}
.cf_info .cf_total {
  padding-right: 10px;
  line-height: 45px;
  text-align: right;
  border-top: 1px solid #dfdfdf;
}
.cf_info .cf_fees {
  line-height: 40px;
  border-top: 1px solid #dfdfdf;
  padding: 0 10px 0 12px;
}
.cf_info .cf_fees .c_prc {
  float: right;
}
.cf_info .cf_comment {
  height: 40px;
  padding: 0 10px 0 12px;
  border-top: 1px solid #dfdfdf;
}
.cf_info .cf_comment input {
  width: 100%;
  height: 100%;
  border: none;
  outline: medium;
}
.cf_paymethod {
  background: #ffffff;
  margin-bottom: 10px;
}
.cf_paymethod .pay_opts {
  padding: 0 10px 0 45px;
  height: 45px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
}
.cf_paymethod .pay_opts input[type="radio"] {
  display: none;
}
.cf_paymethod .pay_opts label {
  display: inline-block;
  cursor: pointer;
  line-height: 45px;
  width: 100%;
  background: url("/Content/images/order/red_unselect.png") no-repeat right;
  background-size: 19px 19px;
}
.cf_paymethod .pay_opts label.checked {
  background: url("/Content/images/order/red_select.png") no-repeat right;
  background-size: 19px 19px;
}
.cf_paymethod .pay_zhifubao {
  background: url("/Content/images/order/alipay.png") no-repeat 10px 8px;
  background-size: 28px 28px;
}
.cf_paymethod .pay_weixin {
  background: url("/Content/images/order/wechat.png") no-repeat 10px 9px;
  background-size: 28px 25px;
}
.cf_paymethod .pay_yinlian {
  background: url("/Content/images/order/upcash.png") no-repeat 10px 13px;
  background-size: 27px 17px;
}
.cf_coupon {
  background: #ffffff;
  margin-bottom: 10px;
}
.cf_coupon .cp_form {
  height: 70px;
  padding: 10px 10px 13px 12px;
}
.cf_coupon .cp_form input {
  line-height: 27px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 10px;
}
.cf_coupon .cp_form #cp_num {
  width: 100%;
}
.cf_coupon .cp_form #cp_pass {
  width: 56%;
}
.cf_coupon .cp_form .cp_btn {
  width: 41%;
  height: 27px;
  background-color: #0396e4;
  color: #ffffff;
  border-radius: 3px;
}
.cf_confirm {
  background: #ffffff;
  height: 43px;
}
.cf_confirm .cfm_all {
  padding: 8px 0 8px 10px;
  float: left;
}
.cf_confirm .cfm_all .cfm_total {
  margin-bottom: 4px;
}
.cf_confirm .cfm_btn {
  float: right;
  width: 107px;
  height: 43px;
  background-color: #0396e4;
  color: #ffffff;
  font-size: 14px;
}
/* emptycart.html */
.sf-hd .hd_cart {
  background: none;
}
.cart_list {
  background: #ffffff;
}
.cart_list .cart_item {
  padding: 14px 0 15px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.cart_list .cart_item .cart_choose {
  float: left;
  width: 30px;
}
.cart_list .cart_item .cart_choose input[type="checkbox"] {
  display: none;
}
.cart_list .cart_item .cart_choose label {
  display: inline-block;
  height: 60px;
  width: 100%;
  background: url("/Content/images/order/red_unselect.png") no-repeat 0 center;
  background-size: 18px 18px;
}
.cart_list .cart_item .cart_choose label.checked {
  background: url("/Content/images/order/red_select.png") no-repeat 0 center;
  background-size: 18px 18px;
}
.cart_list .cart_item .cart_pic {
  width: 19%;
  float: left;
}
.cart_list .cart_item .cart_pic img {
  width: 100%;
}
.cart_list .cart_item .cart_des {
  float: left;
  margin-left: 2%;
  width: 44%;
}
.cart_list .cart_item .cart_des .ct_name {
  margin-bottom: 12px;
}
.cart_list .cart_item .cart_des .ct_size {
  color: #A9A9A9;
}
.cart_list .cart_item .edit_des {
  float: left;
  margin-left: 2%;
  width: 65%;
}
.cart_list .cart_item .edit_des .ct_name {
  margin-bottom: 12px;
}
.cart_list .cart_item .edit_des .ed_amount {
  height: 32px;
  width: 120px;
  border: 1px solid #dfdfdf;
}
.cart_list .cart_item .edit_des .ed_amount .ed_minus {
  float: left;
  display: inline-block;
  width: 34px;
  line-height: 32px;
  text-align: center;
  border-right: 1px solid #dfdfdf;
}
.cart_list .cart_item .edit_des .ed_amount .ed_num {
  float: left;
  display: inline-block;
  width: 49px;
  line-height: 32px;
  text-align: center;
  border-right: 1px solid #dfdfdf;
}
.cart_list .cart_item .edit_des .ed_amount .ed_plus {
  float: left;
  display: inline-block;
  width: 34px;
  line-height: 32px;
  text-align: center;
}
.cart_list .cart_item .cart_price {
  float: right;
  text-align: right;
}
.cart_list .cart_item .cart_price .origin_price {
  text-decoration: line-through;
}
.cart_list .cart_item .cart_price .ct_num {
  margin-top: 15px;
  color: #A9A9A9;
}
.ct_btm {
  height: 100px;
}
.ep_notice {
  height: 224px;
}
.ep_notice .ep_logo {
  height: 165px;
  background: url("/Content/images/main/empty_cart.png") no-repeat 46% 41px;
  background-size: 118px 95px;
}
.ep_notice .ep_cart {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.ep_notice .ep_suggest {
  text-align: center;
  color: #A9A9A9;
}
.btn_continue {
  width: 94%;
  height: 40px;
  margin-left: 3%;
  background: #0396e4;
  color: #ffffff;
  border-radius: 3px;
}
.ep_bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
}
.ep_bottom .ep_total {
  width: 100%
		height: 42px;
  line-height: 42px;
}
.ep_bottom .ep_total input[type="radio"] {
  display: none;
}
.ep_bottom .ep_total label {
  padding-left: 32px;
  display: inline-block;
  cursor: pointer;
  line-height: 42px;
  background: url("/Content/images/order/red_unselect.png") no-repeat 10px 13px;
  background-size: 18px 18px;
}
.ep_bottom .ep_total label.checked {
  background: url("/Content/images/order/red_select.png") no-repeat 10px 13px;
  background-size: 18px 18px;
}
.ep_bottom .ep_total .total_amount {
  position: absolute;
  right: 35%;
}
.ep_bottom .ep_total .btn_checkout {
  height: 42px;
  width: 33%;
  position: absolute;
  right: 0;
  background: #0396e4;
  color: #ffffff;
}
.ep_bottom .ep_total .btn_del {
  height: 42px;
  width: 33%;
  position: absolute;
  right: 0;
  background: #e61d27;
  color: #ffffff;
}
.menu_bottom {
  height: 45px;
  border-top: 1px solid #dfdfdf;
}
.menu_bottom .bottom_opt {
  display: inline-block;
  width: 20%;
  height: 15px;
  float: left;
  text-align: center;
  padding-top: 30px;
}
.menu_bottom .bottom_main {
  background: url("/Content/images/main/main_02.png") no-repeat center 8px;
  background-size: 18px 18px;
}
.menu_bottom .bottom_cata {
  background: url("/Content/images/main/cata_02.png") no-repeat center 8px;
  background-size: 18px 18px;
}
.menu_bottom .bottom_cart {
  background: url("/Content/images/main/cart_01.png") no-repeat center 8px;
  background-size: 18px 18px;
}
.menu_bottom .bottom_mine {
  background: url("/Content/images/main/mine_02.png") no-repeat center 8px;
  background-size: 18px 18px;
}
.menu_bottom .bottom_more {
  background: url("/Content/images/main/more_02.png") no-repeat center 14px;
  background-size: 27px 7px;
}
/*product*/
.product-bottom {
  height: 43px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.product-bottom .btn_cart {
  float: left;
  height: 100%;
  width: 50%;
  background: #e61d27;
  color: #ffffff;
}
.product-bottom .btn_buy {
  float: left;
  height: 100%;
  width: 50%;
  background: #0396e4;
  color: #ffffff;
}
.pd_banner img {
  width: 100%;
}
.pd_detail .d_title {
  height: 32px;
  padding-left: 8%;
  background: #0396e4;
  color: #ffffff;
}
.pd_detail .d_title .d_line {
  display: inline-block;
  height: 16px;
  width: 20%;
  border-bottom: 1px solid #ffffff;
}
.pd_detail .d_title .d_text {
  display: inline-block;
  line-height: 32px;
  margin: 0 16%;
}
.pd_detail .d_pic img {
  width: 100%;
}
.pd_detail .d_bottom {
  margin-bottom: 43px;
}
/*评论页*/
.cmt_overall {
  padding-left: 10px;
  height: 49px;
  line-height: 49px;
  border-bottom: 1px solid #dfdfdf;
}
.cmt_overall .cmt_total {
  margin-left: 6%;
}
.cmt_detail {
  padding: 12px 12px 15px 15px;
  border-bottom: 1px solid #dfdfdf;
}
.cmt_detail .cmt_date {
  float: right;
}
.cmt_detail .cmt_text {
  margin: 12px 10px 0 0;
  line-height: 18px;
}
.cmt_detail .cmt_good {
  display: inline-block;
  margin-top: 12px;
  padding-left: 12px;
  background: url("/Content/images/good.png") no-repeat 0 1px;
  background-size: 9px 11px;
}
.cmt_detail .cmt_avg {
  display: inline-block;
  margin-top: 12px;
  padding-left: 12px;
  background: url("/Content/images/avg.png") no-repeat 0 1px;
  background-size: 9px 11px;
}
.cmt_detail .cmt_bad {
  display: inline-block;
  margin-top: 12px;
  padding-left: 12px;
  background: url("/Content/images/bad.png") no-repeat 0 1px;
  background-size: 9px 11px;
}
.cmt_bottom {
  height: 43px;
}
/*产品信息页*/
.pinfo-bd {
  padding-top: 9px;
}
.pinfo-bd p {
  line-height: 30px;
  margin-left: 18px;
}
