body {
  background: #F4F4F4;
}
/* 字色 */
.c_red {
  color: #e61d27;
}
.c_grey {
  color: #A9A9A9;
}
/*头部*/
.sf-hd {
  padding: 0 10px;
  position: relative;
  height: 38px;
  background-color: #0396e4;
}
.sf-hd .sf_back {
  display: inline-block;
  width: 10%;
  height: 38px;
  float: left;
  background: url('/Content/images/back_arrow.png') no-repeat 0px 11px;
  background-size: 10px 19px;
}
.sf-hd .hd_text {
  text-align: center;
  width: 80%;
  float: left;
  display: inline-block;
  line-height: 38px;
  color: #ffffff;
}
.sf-hd .sf_opt {
  float: left;
  display: inline-block;
  width: 10%;
  line-height: 38px;
  text-align: right;
  color: #ffffff;
}
.sf-hd .sf_search {
  background: url('/Content/images/main/search.png') no-repeat center;
  background-size: 17px 17px;
  height: 38px;
}
/* 登录注册页面 */
.lg-bd {
  margin: 0 10px;
}
.lg-bd .lg_user {
  height: 38px;
  border-bottom: 1px solid #e5e5e5;
}
.lg-bd .lg_user input {
  line-height: 38px;
  padding-left: 33px;
  border: none;
  outline: medium;
}
.lg-bd .lg_user .lg_username {
  background: url('/Content/images/username.png') no-repeat 9px 11px;
  background-size: 14px 15px;
}
.lg-bd .lg_user .lg_pass {
  background: url('/Content/images/password.png') no-repeat 9px 10px;
  background-size: 13px 16px;
}
.lg-bd .lg_user .lg_mobile {
  background: url('/Content/images/mobile.png') no-repeat 9px 10px;
  background-size: 10px 17px;
}
.lg-bd .lg_user .lg_verify {
  background: url('/Content/images/verify.png') no-repeat 9px 12px;
  background-size: 16px 13px;
}
.lg-bd .lg_user .show_pass {
  float: right;
  display: inline-block;
  width: 30px;
  height: 38px;
  background: url('/Content/images/eye.png') no-repeat center;
  background-size: 25px 17px;
}
.lg-bd .lg_user .lg_code {
  display: block;
  margin-top: 5px;
  line-height: 25px;
  width: 80px;
  float: right;
  color: #A9A9A9;
  text-align: center;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
}
.lg-bd .lg_opt {
  line-height: 38px;
  color: #A9A9A9;
}
.lg-bd .lg_opt .fgt_pass {
  float: right;
  color: #A9A9A9;
}
.lg-bd .lg_opt .lg_agree {
  color: #0396e4;
}
.lg-bd .lg_opt input[type="radio"] {
  display: none;
}
.lg-bd .lg_opt span {
  vertical-align: text-bottom;
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  border: 1px solid #A9A9A9;
  border-radius: 3px;
}
.lg-bd .lg_opt span.checked {
  height: 12px;
  width: 12px;
  border: none;
  background: url("/Content/images/sign.png") no-repeat 0 0;
  background-size: 12px 12px;
}
.lg-bd .lg_btn {
  height: 40px;
  width: 100%;
  background-color: #0396e4;
  color: #ffffff;
  border-radius: 8px;
}
/* 首页main.html */
.main-bd {
  background: #ffffff;
}
.main-slider {
  /* display: none; */
  width: 100%;
  height: 130px;
  margin-bottom: 5px;
  overflow: hidden;
}
.main-opts {
  height: 86px;
  margin-bottom: 5px;
}
.main-opts .opts {
  display: block;
  float: left;
  padding-top: 63px;
  width: 20%;
  text-align: center;
  color: #333333;
}
.main-opts .opt01 {
  background: url("/Content/images/main/s_cart.png") no-repeat 10px 10px;
  background-size: contain;
}
/*支付成功 paysuccess.html  */
.sc_info {
  height: 187px;
}
.sc_info .sc_logo {
  height: 74px;
  width: 74px;
  margin: 58px auto 30px;
  background: url("/Content/images/order/pay_success.png") no-repeat 0;
  background-size: contain;
}
.sc_info .sc_notice {
  text-align: center;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
}
.sc_btn {
  display: inline-block;
  width: 46%;
  line-height: 36px;
  text-align: center;
  border: 1px solid #0396e4;
  border-radius: 3px;
}
.sc_continue {
  margin-left: 3%;
  color: #0386e4;
}
.sc_detail {
  background-color: #0396e4;
  color: #ffffff;
}
/* 订单确认 orderconfirm.html */
.cf_titles {
  padding-left: 12px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #dfdfdf;
}
.cf_address {
  height: 60px;
  padding: 10px 13px 15px 35px;
  margin-bottom: 10px;
  background: #ffffff url("/Content/images/order/map.png") no-repeat 9px;
  background-size: 16px 22px;
}
.cf_address .cf_recv {
  font-size: 14px;
  font-weight: 700;
}
.cf_address .cf_phone {
  float: right;
  padding-right: 20px;
}
.cf_address .recv_address {
  margin-top: 10px;
  padding-right: 16px;
  background: url("/Content/images/order/right_arrow.png") no-repeat right 3px;
  background-size: 6px 11px;
}
.cf_delivery {
  height: 18px;
  font-size: 14px;
  padding: 12px 13px 15px 10px;
  margin-bottom: 10px;
  background: #ffffff;
}
.cf_delivery .de_method {
  float: right;
  padding-right: 16px;
  color: #A9A9A9;
  background: url("/Content/images/order/right_arrow.png") no-repeat right center;
  background-size: 8px 15px;
}
.cf_info {
  background: #ffffff;
  margin-bottom: 10px;
}
.cf_info .cf_item {
  padding: 0 10px 0 12px;
  margin: 18px 0;
}
.cf_info .cf_item .cf_pic {
  width: 19%;
  float: left;
}
.cf_info .cf_item .cf_pic img {
  width: 100%;
}
.cf_info .cf_item .cf_des {
  float: left;
  margin-left: 5px;
  width: 44%;
}
.cf_info .cf_item .cf_des .cf_name {
  margin-bottom: 12px;
}
.cf_info .cf_item .cf_des .cf_size {
  color: #A9A9A9;
}
.cf_info .cf_item .cf_price {
  float: right;
  width: 34%;
  text-align: right;
}
.cf_info .cf_item .cf_price .cf_num {
  margin-top: 25px;
  color: #A9A9A9;
}
.cf_info .cf_total {
  padding-right: 10px;
  line-height: 45px;
  text-align: right;
  border-top: 1px solid #dfdfdf;
}
.cf_info .cf_fees {
  line-height: 40px;
  border-top: 1px solid #dfdfdf;
  padding: 0 10px 0 12px;
}
.cf_info .cf_fees .c_prc {
  float: right;
}
.cf_info .cf_comment {
  height: 40px;
  padding: 0 10px 0 12px;
  border-top: 1px solid #dfdfdf;
}
.cf_info .cf_comment input {
  width: 100%;
  height: 100%;
  border: none;
  outline: medium;
}
.cf_paymethod {
  background: #ffffff;
  margin-bottom: 10px;
}
.cf_paymethod .pay_opts {
  padding: 0 10px 0 45px;
  height: 45px;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
}
.cf_paymethod .pay_opts input[type="radio"] {
  display: none;
}
.cf_paymethod .pay_opts label {
  display: inline-block;
  cursor: pointer;
  line-height: 45px;
  width: 100%;
  background: url("/Content/images/order/red_unselect.png") no-repeat right;
  background-size: 19px 19px;
}
.cf_paymethod .pay_opts label.checked {
  background: url("/Content/images/order/red_select.png") no-repeat right;
  background-size: 19px 19px;
}
.cf_paymethod .pay_zhifubao {
  background: url("/Content/images/order/alipay.png") no-repeat 10px 8px;
  background-size: 28px 28px;
}
.cf_paymethod .pay_weixin {
  background: url("/Content/images/order/wechat.png") no-repeat 10px 9px;
  background-size: 28px 25px;
}
.cf_paymethod .pay_yinlian {
  background: url("/Content/images/order/upcash.png") no-repeat 10px 13px;
  background-size: 27px 17px;
}
.cf_coupon {
  background: #ffffff;
  margin-bottom: 10px;
}
.cf_coupon .cp_form {
  height: 70px;
  padding: 10px 10px 13px 12px;
}
.cf_coupon .cp_form input {
  line-height: 27px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 10px;
}
.cf_coupon .cp_form #cp_num {
  width: 100%;
}
.cf_coupon .cp_form #cp_pass {
  width: 56%;
}
.cf_coupon .cp_form .cp_btn {
  width: 41%;
  height: 27px;
  background-color: #0396e4;
  color: #ffffff;
  border-radius: 3px;
}
.cf_confirm {
  background: #ffffff;
  height: 43px;
}
.cf_confirm .cfm_all {
  padding: 8px 0 8px 10px;
  float: left;
}
.cf_confirm .cfm_all .cfm_total {
  margin-bottom: 4px;
}
.cf_confirm .cfm_btn {
  float: right;
  width: 107px;
  height: 43px;
  background-color: #0396e4;
  color: #ffffff;
  font-size: 14px;
}
/* emptycart.html */
.sf-hd .sf_back {
  background: none;
}
.ep_notice {
  height: 224px;
}
.ep_notice .ep_logo {
  height: 165px;
  background: url("/Content/images/main/empty_cart.png") no-repeat 46% 41px;
  background-size: 118px 95px;
}
.ep_notice .ep_cart {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.ep_notice .ep_suggest {
  text-align: center;
  color: #A9A9A9;
}
.btn_continue {
  width: 94%;
  height: 40px;
  margin-left: 3%;
  background: #0396e4;
  color: #ffffff;
  border-radius: 3px;
}
